*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: aqua;
}
main{
    width: 100vw;
    height: 90vh;
    display: flex;
}
nav{
    width: 15.55vw;
    height: 90vh;
}
iframe{
    width: 84.45vw;
    height: 90vh;
}